@font-face {
  font-family: "Inter";
  src: local("Inter Medium"), local("Inter-Medium"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RF Dewi Expanded";

  src: local("RF Dewi Expanded Ultrabold"), local("RFDewiExpanded-Ultrabold"),
    url("../fonts/RFDewiExpanded-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: local("RF Dewi Expanded Light"), local("RFDewiExpanded-Light"),
    url("../fonts/RFDewiExpanded-Light.woff") format("woff");

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";

  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
