@import url(../css/fonts.css);

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --container-padding-inline: 20.5%;
  --font-family: "RF Dewi Expanded", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "RF Dewi Expanded Light", sans-serif;
  --font3: "Open Sans", sans-serif;
}

html {
  font-family: "RF Dewi Expanded", "Inter", "RF Dewi", "Open Sans";
}

/* :root {
  --font-family: "RF Dewi Expanded", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "RF Dewi", sans-serif;
  --font3: "Open Sans", sans-serif;
} */

.container {
  padding-inline: var(--container-padding-inline);

  @media screen and (max-width: 1205px) {
    padding-inline: 3.25%;
  }

  @media screen and (max-width: 600px) {
    padding-inline: 5%;
  }
}

.promo {
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/header/img_4186-2-650x383\ 1.png") center center / cover
      no-repeat;
  min-height: 677px;

  @media screen and (max-width: 600px) {
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/header/header_600.png") center center / cover no-repeat;
  }
}

.header__top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding-top: 21px;
    display: block;
  }
}

.header__under {
  padding-inline: 19px;
  margin-top: 167px;

  justify-content: space-between;
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
  }

  /* display: none; */
}

.header__under-number {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 14px;
  line-height: 120%;
  color: #fff;

  p {
    font-family: inter;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }
}

.header__under-mail {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 14px;
  line-height: 120%;
  color: #fff;

  p {
    font-family: inter;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }
}

.header__number {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 14px;
  line-height: 120%;
  color: #fff;

  @media screen and (max-width: 768px) {
    display: none;
  }

  p {
    font-family: inter;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }
}

.header__name {
  padding-left: 55px;
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  color: #fff;

  p {
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    font-family: var(--font-family);
  }

  @media screen and (max-width: 768px) {
    display: block;
    padding-inline: auto;
    padding-left: 0;
  }
}

.header__mail {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 14px;
  line-height: 120%;
  color: #fff;

  @media screen and (max-width: 768px) {
    display: none;
  }

  p {
    font-family: inter;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }
}

.promo__title {
  margin-top: 133px;
  display: block;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: #fff;

  @media screen and (max-width: 768px) {
    font-size: 35px;
    margin-top: 189px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @media screen and (max-width: 600px) {
    margin-top: 35px;
  }
}

.promo__btn {
  font-family: var(--font-family);
  border: none;
  background: #f4df74;
  border-radius: 10px;
  width: 265px;
  height: 64px;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  color: #353535;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    border-radius: 10px;
    width: 221px;
    height: 54px;
  }
}

.price__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 37px;
  row-gap: 38px;

  img {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.price__title {
  padding-top: 120px;

  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #191919;

  @media screen and (max-width: 768px) {
    font-size: 30px;
    padding-top: 57px;
  }
}

.price__desc {
  font-family: var(--second-family);
  margin: 40px auto;
  max-width: 738px;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1a1a1a;
}

.price__subtitle {
  display: flex;
  h4 {
    font-family: var(--third-family);
    margin-top: 21px;
    margin-left: 1px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #000;
  }

  p {
    font-family: var(--third-family);
    margin-top: 17px;
    margin-left: 11px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-align: right;
    color: #000;
  }
}

.video {
  background: linear-gradient(
    to bottom,
    #ffffff 0,
    #ffffff 175px,
    #eee 175px,
    #eee 100%
  );
}

.video-wrapper {
  margin-top: 106px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;

  @media screen and (max-width: 768px) {
    margin-top: 109px;
  }
}

.video-wrapper iframe,
.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coop {
  background-color: #eee;
  padding-top: 130px;

  @media screen and (max-width: 768px) {
    padding-top: 72px;
  }
}

.coop__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #191919;

  @media screen and (max-width: 768px) {
    font-size: 33px;
  }
}

.coop__descr {
  font-family: var(--second-family);
  margin: 53px auto 0 auto;
  max-width: 738px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #191919;
}

.coop__option-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 80px;

  gap: 34px;
  justify-content: center;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 40px;
    gap: 83px;
  }
}

.coop-work {
  text-align: center;
  justify-content: center;
  max-width: 351px;
}

.coop__work-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #191919;
  margin-top: 34px;
}

.coop__work-descr {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #191919;
  margin-top: 25px;
}
